<!-- Tool Section Start-->
<section class="pt-36 pb-20 dark:bg-slate-800">
  <div class="container">
    <div class="w-full px-4">
      <div class="w-full px-4">
        <div class="max-w-xl mx-auto text-center mb-16">
          <h2
            class="font-bold text-dark text-3xl mb-4 sm:text-4xl lg:text-5xl dark:text-white"
          >
            Kalkulator Matrix
          </h2>
          <p class="font-medium text-md text-secondary md:text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
            perspiciatis.
          </p>
        </div>
      </div>

      <form action="">
        <div class="w-full lg:w-2/3 lg:mx-auto">
          <div class="w-full px-4 mb-8">
            <label for="name" class="text-base text-primary font-bold hidden"
              >Input</label
            >
            <input
              type="text"
              id="name"
              class="w-full bg-slate-200 text-dark p-3 rounded-md focus:outline-none focus:ring-primary focus:ring-1 focus:border-primary"
              placeholder="Input Somethings..."
            />
          </div>
          <div class="flex justify-center w-full px-4">
            <button
              class="text-base font-semibold text-white bg-primary py-3 px-8 rounded-md w-full lg:w-1/3 hover:opacity-80 hover:shadow-lg transition duration-500"
            >
              Calculate!
            </button>
          </div>
        </div>
      </form>
      <!-- Output field start -->
      <div class="w-full lg:w-2/3 lg:mx-auto mt-8 px-4">
        <div class="block font-semibold text-dark dark:text-white">
          <div
            class="bg-slate-100 dark:bg-slate-800 rounded-md border dark:shadow-primary overflow-hidden"
          >
            <div class="py-6 px-6 text-justify">
              <p class="text-base">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                ut fugit consequuntur eius officiis dignissimos similique qui,
                aliquid magni amet sapiente, hic consectetur quam nostrum
                aspernatur? Aut repellendus nostrum sapiente dolores a ab
                reprehenderit iste. Non dignissimos omnis dicta, delectus eos
                modi eius aspernatur aliquid ipsum maiores ipsa porro! Aliquid
                in, sint accusamus ad officia perspiciatis. Hic eveniet eligendi
                atque excepturi aut ad nobis inventore. Ad molestiae facere
                fugit asperiores facilis corrupti veniam corporis, sequi minus
                dignissimos tempore temporibus obcaecati error, deleniti dolorum
                sapiente magni nobis dolore dolorem? Atque nisi vitae
                consequatur itaque velit, earum voluptatibus tempore similique
                fuga totam!
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Output field End -->
    </div>
  </div>
</section>
<!-- Tool Section End -->
