<!DOCTYPE html>
<html class="scroll-smooth" lang="id">
  <head>
    {{- partial "head_list.html" . -}}
    <!--Basic meta info -->
    <meta name="description" content="{{.Title}} SAYA DI LIST" />
    <meta name="keywords" content="{{.Title}}" />

    <!--OpenGraph meta -->
    <meta property="og:description" content="{{.Title}}" />

    <!--meta for twitter -->
    <meta name="twitter:description" content="{{.Title}}" />
  </head>
  <body>
    {{- partial "header.html" . -}}

    <!-- List Tags Section Start -->
    <section
      id="{{.Title}}"
      class="pt-36 pb-20 md:px-10 lg:px-20 bg-slate-100 dark:bg-dark"
    >
      <div class="container">
        <div class="flex flex-wrap justify-center">
          <div class="max-w-xl mx-auto text-center mb-16">
            <h2
              class="font-bold text-dark text-2xl mt-2 mb-4 md:text-3xl lg:text-4xl dark:text-white"
            >
              {{.Title}}
            </h2>
            <div>
              <div class="mx-auto w-10 h-2 bg-primary"></div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-center">
          <!-- Tags Start -->
          {{range .Paginator.Pages}} {{if not (isset .Params "featured_image")
          }}
          <div class="w-full lg:w-1/2 xl:w-1/2 px-4">
            <a
              href="{{.Permalink}}"
              class="block font-semibold text-xl text-dark dark:text-white"
            >
              <div
                class="bg-white dark:bg-slate-800 rounded-md border shadow-md hover:shadow-2xl dark:hover:bg-blue-400 hover:bg-primary hover:text-white dark:shadow-primary overflow-hidden mb-10"
              >
                <div class="py-8 px-6 text-justify">
                  <h3>{{.Title}}</h3>
                </div>
              </div>
            </a>
          </div>
          {{else}}
          <div class="w-full px-4 lg:w-1/2 xl:w-1/3">
            <div
              class="bg-white dark:bg-slate-800 rounded-sm border shadow-lg hover:shadow-2xl dark:shadow-primary overflow-hidden mb-10"
            >
              <div class="overflow-hidden w-full">
                <a href="{{.Permalink}}"
                  ><img
                    src="{{.Params.featured_image}}"
                    alt="{{.Params.alt_featured_image}}"
                    class="w-full hover:opacity-80 hover:shadow-lg duration-500 transform hover:scale-105 transition-transform"
                  />
                </a>
              </div>
              <div class="pt-8 pb-6 px-6 text-justify">
                <h3>
                  <a
                    href="{{.Permalink}}"
                    class="block mb-3 font-semibold text-xl text-dark dark:text-white"
                  >
                    <span
                      class="bg-gradient-to-r from-primary via-primary to-primary bg-[length:0%_5px] bg-no-repeat bg-left-bottom hover:bg-[length:100%_5px] transition-all duration-500"
                    >
                      {{.Title}}</span
                    >
                  </a>
                </h3>
                <p class="block mb-3 text-secondary dark:text-white">
                  {{ if .Params.categories }} {{ delimit .Params.categories ", "
                  }} {{ end }}
                </p>
                <p
                  class="font-medium text-base dark:text-white text-secondary mb-6"
                >
                  {{truncate 155 .Params.description}}
                </p>
                <div
                  class="flex items-center text-sm border-t-2 border-t-slate-200 dark:border-t-primary justify-between bg-white dark:bg-dark py-2"
                >
                  <i>
                    <p class="text-secondary dark:text-white">
                      {{.Params.author}} - {{if eq .Params.has_updated false}}
                      {{.Params.created_date}} {{else}} {{.Params.updated_date}}
                      {{end}} 
                    </p>
                  </i>

                  <div>
                    <a
                      href="{{.Permalink}}"
                      class="hover:bg-primary text-primary hover:text-white hover:opacity-80"
                      >Read More &#8594;</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}} {{end}}
          <!-- Tags End -->
        </div>
      </div>
      <!-- Pagination Start -->
      <section class="dark:bg-dark text-justify dark:text-white">
        <div class="container">
          <div class="flex justify-between mx-auto">
            {{if .Paginator.HasPrev}}
            <div class="text-left">
              <a
                href="{{.Paginator.Prev.URL }}"
                class="font-semibold text-dark dark:text-white hover:text-primary dark:hover:text-primary"
              >
                &#129060; Previous Page
              </a>
            </div>
            {{end}}
            <div class="text-left"></div>
            {{if .Paginator.HasNext}}
            <div class="text-right">
              <a
                href="{{ .Paginator.Next.URL }}"
                class="font-semibold text-base text-dark dark:text-white hover:text-primary dark:hover:text-primary"
              >
                Next Page &#8594;
              </a>
            </div>
            {{end}}
          </div>
        </div>
      </section>
      <!-- Pagination End -->
    </section>
    <!-- List Tags Section End -->

    {{- partial "footer.html" . -}}
    <script src="/js/script.js"></script>
  </body>
</html>
