<!-- Back to Top Button Start -->

{{if .IsHome}}
<a
  href="#home"
  id="to-top"
  class="fixed hidden justify-center items-center bottom-4 right-4 z-[9999] h-14 w-14 rounded-full bg-primary p-4 hover:animate-pulse"
>
  <span class="block w-5 h-5 border-t-2 border-l-2 rotate-45 mt-2"></span>
</a>
{{else if eq .Kind "section"}}
<a
  href="#{{.Title}}"
  id="to-top"
  class="fixed hidden justify-center items-center bottom-4 right-4 z-[9999] h-14 w-14 rounded-full bg-primary p-4 hover:animate-pulse"
>
  <span class="block w-5 h-5 border-t-2 border-l-2 rotate-45 mt-2"></span>
</a>
{{else}}
<a
  href="#content"
  id="to-top"
  class="fixed hidden justify-center items-center bottom-4 right-4 z-[9999] h-14 w-14 rounded-full bg-primary p-4 hover:animate-pulse"
>
  <span class="block w-5 h-5 border-t-2 border-l-2 rotate-45 mt-2"></span>
</a>
{{end}}
<!-- Back to Top Button End -->
