<!-- Footer Start -->
<footer class="bg-slate-900 pt-6 pb-6">
  <div class="container">
    <div class="flex justify-center">
      <div class="px-4 mb-6 font-medium">
        <h2 class="font-bold text-center text-4xl text-white">defitra.my.id</h2>
        <p class="text-base text-center text-white">
          <i>Berpikir positif dan optimis</i>
        </p>
      </div>
    </div>

    <div class="w-full">
      <div class="flex flex-wrap items-center justify-center mb-5">
        <a
          href="/syarat-dan-ketentuan"
          class="inline-block text-slate-300 text-base hover:text-primary mx-2"
          >Syarat dan Ketentuan</a
        >
        <p class="inline-block text-slate-300 text-base">|</p>
        <a
          href="/kebijakan-privasi"
          class="inline-block text-base text-slate-300 hover:text-primary mx-2"
          >Kebijakan Privasi</a
        >
        <p class="inline-block text-slate-300 text-base">|</p>
        <a
          href="/tentang-saya"
          class="inline-block text-base text-slate-300 hover:text-primary mx-2"
          >Tentang Saya</a
        >
      </div>
      <p class="text-sm text-slate-500 text-center">
        2024 - Dibuat oleh
        <i>
          <a href="/" class="hover:text-primary" target="_blank"
            >Defitra Hidayatullah</a
          >
        </i>
      </p>
    </div>
  </div>
</footer>
<!-- Footer End -->
