{{ $related := .Site.RegularPages.Related . | first 3 }} {{ with $related }}
<!-- Related Blog Start -->
<section class="pb-12 dark:bg-dark text-justify dark:text-white">
  <div class="container">
    <div class="max-w-xl mx-auto text-center mb-16">
      <h2
        class="font-bold text-dark text-3xl mb-4 sm:text-4xl lg:text-5xl dark:text-white"
      >
        Related Blog
      </h2>
      <div>
        <div class="mx-auto w-10 h-2 bg-primary"></div>
      </div>
    </div>
    <div class="lg:w-1/2 mx-auto">
      <!-- Blog Start -->
      {{ range . }}
      <div class="w-full">
        <div
          class="bg-white dark:bg-slate-800 rounded-sm border shadow-lg hover:shadow-2xl dark:shadow-primary overflow-hidden mb-10"
        >
          <div class="pt-8 pb-6 px-6 text-justify">
            <h3>
              <a
                href="{{ .RelPermalink }}"
                class="block mb-3 font-semibold text-xl text-dark dark:text-white"
              >
                <span
                  class="bg-gradient-to-r from-primary via-primary to-primary bg-[length:0%_5px] bg-no-repeat bg-left-bottom hover:bg-[length:100%_5px] transition-all duration-500"
                >
                  {{.Title}}</span
                >
              </a>
            </h3>
            <p class="block mb-3 text-s text-secondary dark:text-white">
              {{ if .Params.categories }} {{ delimit .Params.categories ", " }}
              {{ end }}
            </p>
            <p
              class="font-medium text-base dark:text-white text-secondary mb-6"
            >
              {{.Params.description}}
            </p>
            <div
              class="flex items-center text-sm border-t-2 border-t-slate-200 dark:border-t-primary justify-between bg-white dark:bg-dark py-2"
            >
              <i>
                <p class="text-s text-secondary dark:text-white">
                  {{.Params.author}} | {{if eq .Params.has_updated false}}
                  {{.Params.created_date}} {{else}} {{.Params.updated_date}}
                  {{end}} | {{.Params.read_time}}
                </p>
              </i>

              <div>
                <a
                  href="{{ .RelPermalink }}"
                  class="hover:bg-primary text-primary hover:text-white hover:opacity-80"
                  >Read More &#8594;</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      <!-- Blog End -->
    </div>
  </div>
</section>
<!-- Related Blog End -->
{{ end }}
